:root {
    --first-font: "Roboto", sans-serif;
    --second-font: "Raleway", sans-serif;
    --main-color: #757575;
    --second-color: #2196F3;
    --h-color: #212121;

}

body {
    font-family: var(--first-font);
    color: var(--main-color);
}

/* ********************************  components  ****************************** */

/* ********************************  header  ****************************** */

/* ********************************  main  ****************************** */

/* ********************************  footer  ****************************** */
